// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

[data-bs-theme=dark] {

    //    color: var(--bs-primary-text-emphasis);
    //  background-color: var(--bs-primary-bg-subtle);

    .linkAdmin {
        transition: color 0.3s ease; // Agrega una transición de color para suavizar el cambio.

        &:hover {
            color: white; // Cambia este valor al color que desees para los enlaces en estado hover.
        }
    }

    #link_admin {
        color: white;
    }

    .nav-item .nav-link {
        color: white
    }

    .nav-item:hover .nav-link {
        background-color: rgba(0, 138, 171, 0.7);
        font-weight: bold;
    }

    .nav-link.active {
        background-color: rgba(0, 138, 171, 0.7);
        font-weight: bold;
    }

    .adminText {
        color: white;
    }

    .page-link.active,
    .active>.page-link {
        background-color: rgba(60, 180, 229, 1.0) !important;
    }

    .page-link {
        color: white !important;
    }
}
