#logo {
    max-width: 150px;
    height: auto;
}
.navbar{
    background-color: #7CA8D5;
}
.nav-item .nav-link{
    color:white
}
.card .card-header{
    background-color:  #2B6BB5;
    color: white
}
